@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chris Cestari</h1>
    <p class="lead">He's hungry for the Data Engineer position.</p>
    <p class="lead">  ...And he's good at what he does</p>
    <p><a href="https://www.linkedin.com/in/chriscestari" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What Did He Do?</h2>
        <p>
            Find out about the SQL queries used in this app
        </p>
        <p><a class="btn btn-default" href="~/Views/TheSQLQueries.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What Went Wrong?</h2>
        <p>In a word - Everything.  Find out more about it by reading all the error messages Chris had to</p>
        <p><a href="~/Views/WhatHeDid.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Want to know more?</h2>
        <p>Drop Chris a line.  He's a great guy and likely to take you out to dinner.  Or maybe he'll just answer your questions.  See what happens
            <a href="~/Views/WhatHeDid.cshtml">See now</a></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>