@model IEnumerable<NoAccounts.Models.RestaurantGrade>

@{
    ViewBag.Title = "Index";
}

<h2>Which Cuisine Types Got the most A and B scores?</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CuisineType)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CuisineType)
        </td>

    </tr>
}

</table>
